h1 {
    text-align: center;
    font-family: monospace;
}
html {
    text-align: center;
}
body {
    display: inline-block;
}
.container {
    display: grid;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: 620px;
    width: 620px;
    text-align: center;
}
div {
    background-color: rgb(163, 167, 165);
    /* border: 1px solid black; */
}
.top, .mid, .bot {
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 33.33% 33.33% 33.33%;
}
.mid {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.center {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.createPlayers {
    background-color: white;
    margin-bottom: 10px;
}
input {
    margin-right: 10px;
}
